.home-container {
    height: 91.5vh;  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container.dark {
    background-image: linear-gradient(rgba(0,0,0,0.99),rgba(0,0,0,0.01)), url('../../assets/background-home.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.home-container.light {
    background-image: linear-gradient(rgba(205,205,205,1),rgba(205,205,205,0.01)), url('../../assets/background-home.jpg');
    background-size: cover;
    background-position: center;

}

.h1-home {
    font-size: 3rem;
    text-shadow: 2px 2px rgb(175, 41, 41);
}

.p-home {
    font-weight: bold;
}

@media (max-width: 480px) {
    .home-container.light {
        height: 93.5vh;
    }

    .home-container.dark {
        height: 93.5vh;
    }

    .h1-home {
        font-size: 1.8rem;
    }
}